<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title></title>
 </head>
 <body>
<h1><%="#{params[:team][:name]}"%></h1>

<h2><%="Team Motto: #{params[:team][:motto]}"%></h2>

<%params[:team][:members].each do |member|%>
  <h2><%="Hero Name: #{member[:name]}"%></h2>
  <%="Hero power: #{member[:power]}"%><p>
  <%="Hero biography: #{member[:bio]}"%>
  <%end%>

</body>
</html>


